<form class="form-inline" role="form">
	<div class="form-group">
		<input type="text" class="form-control" ng-model="searchKeyword">
	</div>
	<button type="submit" class="btn btn-default" ng-click="searchYoutube(searchKeyword);searchLastFmTrackInfo(searchKeyword);searchLastFmAlbumInfo(searchKeyword); searchLastFmArtistInfo(searchKeyword)">Beautiful click</button>
</form>

<div class="row">
	<div id ="player"></div>
	<button ng-click="playerControl.nextVideo();">Next Video</button>
	<button ng-click="playerControl.stopVideo();">stop video</button>
	<button ng-click="playerControl.playVideo();">stop video</button>
	<div class="col-md-5">
		Beautiful
		<div class="col-md-8" ng-repeat="videoData in resultYoutubes['items']">
			<img src="{{videoData['thumbnail']['sqDefault']}}" style="float:left" ng-click="getRelatedYoutubeVideo(videoData['id'])">
			<a href="{{videoData['player']['default']}}" target="_blank"> {{videoData['title']}} </a>
			<div style="clear:both"></div>
		</div>
	</div>
	<div class="col-md-5">
		Search result
		<div ng-repeat="trackData in lastFmTracks">
			<div>
				<img src="{{trackData['image'][0]['#text']}}" style="float:left">
				{{trackData['name']}}
				{{trackData['artist']}}
			</div>
			<div style="clear:both"></div>

			<!-- <img src="{{videoData['thumbnail']['hqDefault']}}"> -->
		</div>

		<div ng-repeat="trackData in lastFmAlbums">
			<div>
				
			</div>
			<div style="clear:both"></div>

			<!-- <img src="{{videoData['thumbnail']['hqDefault']}}"> -->
		</div>
	</div>
	<div class="col-md-2">
		Playlist

		<div ng-repeat="videoData in resultYoutubes['items']">
			<img src="{{videoData['thumbnail']['sqDefault']}}" ng-click="getRelatedYoutubeVideo(videoData['id'])">
			<a href="{{videoData['player']['default']}}" target="_blank"> {{videoData['title']}} </a>
			
			<!-- <img src="{{videoData['thumbnail']['hqDefault']}}"> -->
		</div>
	</div>
<div class="debug">
	<!-- <pre>{{resultYoutubes['items']|json}}</pre>; -->
	<pre>{{playerControl|json}}</pre>;
</div>	
<div ng-repeat="videoRelated in videoRelateds['items']">
	<img src="{{videoRelated['thumbnail']['sqDefault']}}" ng-click="getRelatedYoutubeVideo(videoRelated['id'])">
	
</div>
